@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/playlist.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}


.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.card {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.card h2 {
  margin-top: 0;
}


.card img {
  width: 100%;
  height: auto;
}


.spotify-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #1DB954;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.spotify-button:hover {
  background-color: #1ED760;
}