.banner {
  height: 150px;
  background-image: url('../../images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner .container {
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
}

.banner a.btn-blue {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}